{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/model.css') }}">
{% endblock %}

{% block page_content %}
  <h3>Score Assesment</h3>
  <form action="{{ url_for('GenerateModel') }}" method="post" class="form-style-9">
    <ul>
    <li>
        <input type="text" name="field1" class="field-style field-split align-left" placeholder="Name" required />
        <input type="email" name="field2" class="field-style field-split align-right" placeholder="Email" required />

    </li>
    <li>
        <input type="text" name="field3" class="field-style field-split align-left" placeholder="Phone" required />
        <input type="url" name="field4" class="field-style field-split align-right" placeholder="Website" required />
    </li>
    <li>
    <input type="text" name="field3" class="field-style field-full align-none" placeholder="Subject" required />
    </li>
    <li>
    <textarea name="field5" class="field-style" placeholder="Message" required></textarea>
    </li>
    <li>
    <input type="submit" value="Generate" />
    </li>
    </ul>
  </form>
{% endblock %}

{% block bottomjs %}
{% endblock %}
