{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block page_content %}
  <h3>Team</h3>
  <div class="team-flexbox">
    <div class=team-flexbox-item>
      <div class="card">
        <img src="{{ url_for('static', filename='assets/default-user.jpg') }}" alt="Nick" style="width:100%">
        <h1>Nick Hefner</h1>
        <p class="title">Software Engineer, OptumRX</p>
        <p>University of California, Irvine</p>
        <div style="margin: 1% 0;">
          <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
          <a href="#"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
    <div class=team-flexbox-item>
      <div class="card">
        <img src="{{ url_for('static', filename='assets/default-user.jpg') }}" alt="Kash" style="width:100%">
        <h1>Kash Santos</h1>
        <p class="title">--</p>
        <p>--</p>
        <div style="margin: 1% 0;">
          <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
          <a href="#"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
    <div class=team-flexbox-item>
      <div class="card">
        <img src="{{ url_for('static', filename='assets/default-user.jpg') }}" alt="Sadaf" style="width:100%">
        <h1>Sadaf M.</h1>
        <p class="title">--</p>
        <p class="education">--</p>
        <div style="margin: 1% 0;">
          <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
          <a href="#"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block bottomjs %}
{% endblock %}
